# Configurações do Servidor
PORT=3004

# Credenciais Systemsat (Obrigatórias no Render)
SYSTEMSAT_USERNAME=seu_usuario
SYSTEMSAT_PASSWORD=sua_senha
SYSTEMSAT_CLIENT_CODE=seu_codigo
SYSTEMSAT_HASH_AUTH=seu_hash

# Configurações do Frontend (Vite)
VITE_API_URL=/cbt/api
